.intro {
  padding: 60px;
  flex: 1;
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}

.intro_left_section {
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  text-transform: uppercase;
  width: 300px;
}

.intro_heading {
  flex-direction: column;
  align-items: flex-start;
}

.intro_heading p:nth-child(1) {
  color: gray;
  font-weight: 700;
  font-size: 10px;
}

.intro_heading p:nth-child(2) {
  font-weight: lighter;
  font-size: 26px;
}

.intro_heading p:nth-child(3) {
  font-weight: 900;
  font-size: 26px;
  color: var(--primary-color);
}

.intro_left_section img {
  width: 100%;
}

.intro_right_section {
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  width: 330px;
}

.intro_right_section p {
  font-size: 11px;
}

@media (max-width: 900px) {
  .intro {
    padding: 40px 10px;
  }
  .intro_left_section {
    width: 90%;
  }
  .intro_right_section {
    width: 90%;
  }
}
